<html lang="en">

<body>

<div class="content">
    <div id="yellow-wrapper">
        <div class="yellow-pipe yellow-pipe-1 br bl"></div>
        <div class="yellow-line-1 bt"></div>
        
    </div>
    <div id="cyan-wrapper">
        <div class="cyan-pipe cyan-pipe-1 bl br"></div>
        <div class="cyan-pipe cyan-pipe-2 bb br"></div>
        <div class="cyan-pipe cyan-pipe-3 bt">
            <h2 class="title">Experiences</h2>
        </div>
        <div class="cyan-pipe cyan-line-1 bt"></div>
        <div class="cyan-pipe cyan-line-2 bt"></div>
    </div>
    <div id="pink-wrapper">
        <div class="pink-pipe pink-pipe-1 bl br"></div>
        <div class="pink-pipe pink-pipe-2 bb br"></div>
        <div class="pink-line-1 bt"></div>
    </div>
    <div id="purple-wrapper">
        <div class="purple-pipe purple-pipe-1 bl br"></div>
        <div class="purple-pipe purple-pipe-2 bt br"></div>
        <div class="purple-pipe purple-line-1 bt"></div>
    </div>
    <div id="grid-wrapper">
        <app-entry [title]="'Honors 100'" [date]="'Feb 22 2022'" [category]="'Paper'"></app-entry>
        <app-entry [title]="'Honors 500'" [date]="'Mar 22 2022'" [category]="'Class Project'"></app-entry>
        <app-entry [title]="'Honors 100'" [date]="'Feb 22 2022'" [category]="'Coding'"></app-entry>
        <app-entry [title]="'Honors 200'" [date]="'Mar 22 2022'" [category]="'Other'"></app-entry>
        <app-entry [title]="'Honors 100'" [date]="'Feb 22 2022'" [category]="'Experience'"></app-entry>
        <app-entry [title]="'Honors 200'" [date]="'Mar 22 2022'" [category]="'Paper'"></app-entry>

    </div>

</div>


</body>
</html>