<html lang="en">

<body>


<div class="content">
    <div id="yellow-wrapper">
        <div class="yellow-pipe yellow-pipe-1 bl bb br"></div>
        <div class="yellow-pipe-2 yellow-pipe bb bl br">
            <div class="jumptogrid">
            <a href="/freshman" class="jumpto">Freshman ▼</a>
            <a routerLink="/sophomore" class="jumpto">Sophomore ▼</a>
            <a routerLink="/junior" class="jumpto">Junior ▼</a>
            <a routerLink="/senior" class="jumpto">Senior ▼</a>
            <p> the "jump to" links are under construction!</p>
        </div>
        </div>
        <div class="yellow-pipe-3 yellow-pipe bb bt">
            
        </div>
        <div class="yellow-pipe-4 yellow-pipe bb bt">
            
        </div>
        <div class="yellow-pipe-5 yellow-pipe bb bt">
            
        </div>
        <!-- <div class="yellow-pipe-6 yellow-pipe bb bt"></div> -->
        <div class="yellow-pipe-7 yellow-pipe bl bb br"></div>
        <div class="yellow-line-1 bt"></div>
        
    </div>
    <div id="cyan-wrapper">
        <div class="cyan-pipe cyan-pipe-1 bl br"></div>
        <div class="cyan-pipe cyan-pipe-2 bb br"></div>
        <div class="cyan-pipe cyan-line-1 bt"></div>
    </div>
    <div id="pink-wrapper">
        <div class="pink-pipe pink-pipe-1 bl bt"></div>
        <div class="pink-pipe pink-pipe-2 bb"></div>
        <div class="pink-pipe pink-pipe-3 bt bb">
            <h2 class="title">Academics</h2>
        </div>
        <div class="pink-line-1 bt"></div>
        <div class="pink-line-2 bl"></div>
    </div>
    <div id="purple-wrapper">
        <div class="purple-pipe purple-pipe-1 bl br"></div>
        <div class="purple-pipe purple-pipe-2 bt br"></div>
        <div class="purple-pipe purple-line-1 bt"></div>
    </div>
    <div id="freshman"></div>
</div>



</body>
</html>

