<html lang="en">

<body>


<div class="content">
    <div id="yellow-wrapper">
        <h2 class="title light" id="myName"><b>Reuben </b>Narad</h2>
        <div class="yellow-pipe-3 yellow-pipe bt"></div>
        <div class="yellow-pipe yellow-pipe-1 br bl"></div>
        <div class="yellow-pipe-2 yellow-pipe bb br"></div>
        
    </div>
    <div id="pink-wrapper">
        <div class="pink-pipe pink-pipe-1 bl br"></div>
        <div routerlink="academics" class="pink-pipe pink-pipe-2 bb bl">
            <a routerLink="/academics" class="direction">Academics ▶</a>
            <h1 class="title" id="welcome">Welcome!</h1>
        </div>
        <div class="pink-line-1 bt"></div>
    </div>
    <div id="cyan-wrapper">
        <div class="cyan-pipe cyan-pipe-1 bl br"></div>
        <div class="cyan-pipe cyan-pipe-2 bb">
            <a routerLink="/projects" class="direction">Experiences ▶</a>
            <h1 class="title" id="subwelcome">"Hey, at least it's not LinkedIn"</h1>
        </div>
        <div class="cyan-pipe cyan-line-1 bt"></div>
        <div class="cyan-pipe cyan-line-2 bt"></div>
    </div>
    <div id="purple-wrapper">
        <div class="purple-pipe purple-pipe-1 bl br"></div>
        <div class="purple-pipe purple-pipe-2 bl">
            <a routerLink="/contact" class="direction">Contact ▶</a>
        </div>
        <div class="purple-pipe purple-pipe-3 br bl">
            <a id="about">About...</a>
        </div>
        <div class="purple-pipe purple-line-1 bt"></div>
        <div class="purple-pipe purple-line-2 bb"></div>
    </div>
    <div id="portrait">
        <img src='../../assets/portrait.png' alt="Pop Art Portrait of Reuben" class="image">
    </div>
    <div class="section2">
        <h2 id="hello">Hi, I'm Reuben</h2>
        <ul class="whoami">
            <li>Consultant @ West Monroe (Soon)</li>
            <li>Undergrad Operations Researcher</li>
            <li>Light/Audio Designer</li>
            <li>Musician</li>
        </ul>    
    </div>
</div>
</body>
</html>
